body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1.titre {
    text-align: center;
}

hr.separation {
    border: 1px solid red;
    width: 250px;
}

div.explic {
    text-align: center;
}

a.lien-produit {
    text-decoration: none;
    border: 1px solid #1b1759;
    color: #1b1759;
    padding: 15px;
    margin: 5px;
}

a.lien-produit:hover {
    background: #1b1759;
    color: white;
    box-shadow: 0px 0px 10px black;
}
